body {
    font-family: "Rubik", sans-serif;
}
.headerNavbar .nav_item {
    font-family: rubik;
    font-size: 26px;
}

/* CUSTOM BOOTSTRAP CLASS  */
.fs-7 {
    font-size: 60px;
}

/* BANNER SECTION  */
.banner_section_bg {
    background-image: url("../Assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_content {
    background: #fff;
    padding: 73px 56px 100px 50px;
    position: relative;
    z-index: 9;
    display: inline-block;
}
.banner_button {
    position: absolute;
    bottom: 0;
    left: 55px;
}

/* PARTNER SECTION  */
.partner_section_bg {
    background-color: #f5f5f5;
}

/* REVIEW SECTION  */

.review_section_bg {
    background-image: url("../Assets/images/bg-img-2.jpg.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.review_section_bg::before {
    position: absolute;
    content: "";
    background-color: #020c26;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}
.change-icon-color {
    height: 40px;
    width: auto;
}
/* BUSINESS SECTION  */
.divider {
    height: 2px;
    width: 5%;
    background-color: #020c26;
    top: 0;
    padding: 0;
    margin: 0;
}

/* FOOTER SECTION  */
.footer_section {
    background-image: url("../Assets/images/footer-pattern.png.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
